node_modules/
npm-debug.log*
dist/

.env
.env.*

infra/postgres/data/
infra/mosquitto/data/
infra/mysql/data/

*.log

.DS_Store
Thumbs.db

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
