# MQTT Brocker
services:
  mqtt:
    image: eclipse-mosquitto:2
    container_name: iot-mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - ./mosquitto/data:/mosquitto/data
    restart: unless-stopped


# Database
  db:
    image: postgres:16
    container_name: iot-postgres
    environment:
      POSTGRES_DB: iot
      POSTGRES_USER: iot
      POSTGRES_PASSWORD: iotpass
    ports:
      - "5432:5432"
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    restart: unless-stopped

  adminer:
    image: adminer
    container_name: iot-adminer
    ports:
      - "8080:8080"
    restart: unless-stopped
